/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
	text-decoration: none;
}

a {
	display: block;
}

img {
	max-width: 100%;
}


.inner {
	padding: 0 30px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h2, h3, h4, h5 {
	position: relative;
	font-weight: bold;
	color: #333;
	line-height: 2;
}

h2 {
	font-size: 32px;
	padding-bottom: 24px;
}

#l-nasu h2::before, #h-nasu h2::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 36px;
	height: 1px;
	background: #333;
}


h3 {
	font-size: 28px;
	width: 100%;
}

#l-nasu h3::before {
	position: absolute;
	content: "";
	top: 50%;
	right: 0;
	padding-left: 157px;
	width: 68%;
	height: 1px;
	background: #707070;
}

h4 {
	font-size: 24px;
	padding-bottom: 24px;
}

#l-nasu h4::before {
	position: absolute;
	content: "";
	width: 40px;
	height: 1px;
	background: #333;
	bottom: 0;
	left: 0;
}

.h5 {
	font-size: 18px;
	padding-bottom: 24px;
}

.font-s {
	text-align: justify;
	font-size: 16px;
	color: #333;
	line-height: 2;
}

.color-p {
	color: #0A407E;
}

.color-s {
	color: #2D3946;
}

/* header */

.l-header__inner {
	width: 100%;
	padding: 24px 100px;
	display: flex;
	z-index: 7;
	position: fixed;
	justify-content: space-between;
	align-items: center;
}

.l-header__logo img {
	width: 120px;
}

.l-header__menu {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.l-header__menu a {
	color: #333;
	font-weight: bold;
}

.l-header__hamburger {
	display: none;
	position: fixed;
	z-index: 99;
	top: 20px;
	right: 30px;
	cursor: pointer;
}

.l-header__hamburger span {
	display: block;
	width: 30px;
	height: 1px;
	background: #333;
}

.l-header__hamburger span:not(:last-child) {
	margin-bottom: 9px;
}


.l-header__hamburger.active {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 30px;
	right: 37px
}

/* header active */

.l-header__hamburger.active span {
	position: absolute;
	margin-bottom: 0
}

.l-header__hamburger.active span:first-child {
	transform: rotate(45deg);
}

.l-header__hamburger.active span:nth-child(2) {
	display: none;
}

.l-header__hamburger.active span:nth-child(3) {
	transform: rotate(-45deg);
}

.l-header__inner.active .l-header__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	gap: 10px;
	font-size: 18px;
}

.l-header__inner.active .l-header__logo {
	display: none;
}


/* mv */
.mv-bg {
	background-image: url(/asset/img/photo/mv-bg.png);
	background-size: cover;
}

.nasu-mv {
	padding-top: 120px;
	padding-bottom: 60px;
}

.nasu-mv .nasu-mv__cnt {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.nasu-mv .img {
	width: 37%;
	text-align: right;
}

.nasu-mv .txt {
	padding: 40px 0;
	width: 50%;
	margin-left: 80px;
}

.nasu-mv .ttl {
	margin-bottom: 32px;
}

.nasu-mv .txt h2 {
	padding-bottom: 36px;
	font-weight: normal;
}

.nasu-mv .txt p {
	margin-top: 32px;
}


/* inf */
.nasu-inf__cnt {
	padding: 80px 0;
	gap: 80px;
	display: flex;
	justify-content: space-between;
}

.nasu-inf .show {
	width: 50%;
}


.nasu-inf .show h3 {
	margin-bottom: 40px;
}

.nasu-inf .card {
	position: relative;
	padding: 24px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 8px 16px -6px #aaa;
}

.nasu-inf .card::before {
	position: absolute;
	content: url(/asset/img/icon/card-arrow.png);
	right: 0;
	bottom: -2px;
}

.nasu-inf .card .cnt {
	width: 68%;
}

.nasu-inf .card .cnt h4 {
	margin-bottom: 24px;
}

.nasu-inf .card .img {
	margin-left: 4%;
	width: 28%;
}

.nasu-inf .announce {
	width: 50%;
}

.nasu-inf .announce .ttl {
	margin-bottom: 40px;
}

.nasu-inf .announce .ttl {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nasu-inf .announce .btn {
	margin-right: 22px;
	position: relative;
	width: 134px;
	height: 40px;
	font-weight: bold;
	padding-left: 4px;
	line-height: 40px;
	background: #F1F1F1;
	border: 1px solid #707070;
	display: flex;
	align-items: center;
}

.nasu-inf .announce .btn::before {
	position: absolute;
	content: "";
	width: 22px;
	height: 1px;
	background: #333;
	right: -22px;
}

.nasu-inf .announce .btn::after {
	position: absolute;
	content: url(/asset/img/icon/button-arrow-blue.png);
	padding-right: 4px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.nasu-inf .announce__items {
	column-gap: 24px;
}

.nasu-inf .item .date {
	font-weight: bold;
	color: #999999;
}

.nasu-inf .item .txt {
	font-weight: bold;
}

/* history */

.nasu-history {
	padding: 80px 0;
}

.nasu-history {
	background-image: url(/asset/img/photo/history-bg.png);
	background-size: cover;
}

.nasu-history__wrap {
	display: flex;
	justify-content: space-between;
	gap: 80px;
}

.nasu-history__cnt, .nasu-history .img {
	width: 50%;
}

#h-nasu .nasu-history .ttl{
margin-bottom: 24px;
}

.nasu-history__cnt .ttl h3 {
	position:relative;
	color: #fff;
	padding-bottom: 24px;
}

#h-nasu .nasu-history__cnt h3::before {
	position: absolute;
	content: "";
bottom: 0;
	left: 0;
width: 40px;
height: 1px;
	background: #fff;
}


.nasu-history__cnt .txt {
	margin-bottom: 24px;
}

.nasu-history__cnt .txt p {
	color: #fff;
}

.nasu-history__cnt .btn {
	width: 160px;
	height: 48px;
	position: relative;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	color: #fff;
	padding-left: 16px;
}

.nasu-history__cnt .btn::after {
	position: absolute;
	content: url(/asset/img/icon/button-arrow-white.png);
	padding-right: 16px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.nasu-history__cnt .btn a {
	color: #fff;
	padding-left: 16px;
	font-weight: bold;
}

/* mainwork */

.nasu-mainwork .nasu-mainwork__wrap {
	display: flex;
	justify-content: space-between;
}

.nasu-mainwork .inners {
	padding: 0;
}

.nasu-mainwork .containers {
	width: 100%;
}

.nasu-mainwork__img {
	background-image: url(/asset/img/photo/mainwork.png);
	background-size: cover;
	width: calc(50% + 40px);
}

.nasu-mainwork__cnt .ttl {
	margin-bottom: 24px;
}

.nasu-mainwork__cnt {
	width: 50%;
	padding: 60px 30px 60px 40px;
}

.nasu-mainwork__cnt .txt {
	margin-bottom: 40px;
}

.nasu-mainwork__cnt .btn {
	width: 197px;
	height: 48px;
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid #0A407E;
	color: #0A407E;
	padding-left: 16px;
	font-weight: bold;
}

.nasu-mainwork__cnt .btn::after {
	position: absolute;
	content: url(/asset/img/icon/button-arrow-blue.png);
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding-right: 16px;
}


/* banner */

.nasu-banner {
	background: #F1F1F1;
	padding: 80px 0;
}


.containerss {
	max-width: 800px;
	margin: 0 auto;
}

.nasu-banner__items {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}



/* footer */

.l-footer {
	background: #2D3946;
}

.footer__wrap {
	max-width: 700px;
	padding: 40px 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.footer__boxOne, .footer__boxTwo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__boxOne {
	margin-bottom: 80px;
}

.footer__boxOne .footer__menu {
	width: 100%;
}

.footer__boxOne .footer__menu ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.footer__boxOne .footer__menu li a {
	color: #fff;
}

.footer__boxTwo p {
	color: #fff;
	margin-bottom: 40px;
}

.footer__boxTwo span {
	color: #ABAFB5;
	margin-right: 12px;
}

.footer__wrap .copyright {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}



/* ------------------------- h-nasu -------------------------- */

#h-nasu h2 {
	padding-bottom: 24px;
}

#h-nasu h2::before {
	width: 40px;
	height: 3px;
	background: #003870;
}

#h-nasu h2::after {
	position: absolute;
	content: "";
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #333;
}


/* h-nasu haeder */

#h-nasu .l-header__inner {
	background: #fff;
}

.breadcrumb {
	position: fixed;
	display: flex;
	align-items: center;
	padding-left: 100px;
	top: 107px;
	width: 100%;
	height: 40px;
	background: #0A407E;
	z-index: 4;
}

.breadcrumb span {
	padding-right: 20px;
	font-size: 12px;
	color: #fff;
}

/* nasuH-mv */

.nasuH-mv {
	padding-top: 145px;
}

.nasuH-mv .img {
	text-align: center;
}

/* nasuH-open	 */
.nasuH-open {
	padding: 80px 0;
}

.nasuH-open p {
	text-align: center;
}


#h-nasu .nasu-history__cnt h2::before {
	background: #fff;
}

/* h-nasu date */
.nasuH-date {
	padding: 100px 0;
}

.nasuH-date__items {
	padding: 80px 0;
}

.nasuH-date__items .item {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.nasuH-date__items .item:not(:last-child) {
	padding-bottom: 100px;
}

.nasuH-date__items .item::after {
	position: absolute;
	content: "";
	border-right: #0A407E 4px dashed;
	height: 100%;
	top: 104px;
	left: 54px;
}

.nasuH-date__date {
	display: flex;
	justify-content: space-between;
}

.nasuH-date__date .date {
	position: relative;
	width: 108px;
	height: 108px;
	border-radius: 50%;
	background: #0A407E;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.nasuH-date__date .date p {
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}

.nasuH-date__date .date span {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}


.nasuH-date__date .age {
	width: 130px;
}

.nasuH-date__date .age p {
	font-size: 32px;
	color: #0A407E;
	padding-top: 40px;
	padding-left: 32px;
}

.nasuH-date__cnt {
	padding-left: 48px;
}

.nasuH-date__cnt .ttl {
	margin-top: 32px;
}

.nasuH-date__img {
	width: 100%;
	padding-top: 32px;
	padding-left: 48px;
}




/* ----------------------------------- 768 ----------------------------------- */

@media screen and (min-width:768px) {
	.spOnly {
		display: none
	}
}

@media(max-width:768px) {

	.inner {
		padding: 0 16px;
	}

	h2 {
		font-size: 24px;
		padding-bottom: 24px;
	}

	h3 {
		font-size: 20px;
		width: 100%;
	}

	h4 {
		font-size: 18px;
		padding-bottom: 24px;
	}

	.font-s {
		font-size: 14px;
	}


	/* header 768 */
	.l-header__inner {
		padding: 10px 16px;
	}

	.l-header__logo img {
		width: 88px;
	}

	.l-header__menu {
		display: none;
	}

	.l-header__hamburger {
		display: block;
	}

	/* nasu-mv 768 */
	.nasu-mv {
		padding-top: 70px;
	}

	.nasu-mv .nasu-mv__cnt {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.nasu-mv .nasu-mv__cnt .img {
		width: 100%;
	}

	.nasu-mv .nasu-mv__cnt .txt {
		width: 100%;
		margin-left: 0;
		padding: 40px 0 0 0;
	}

	.nasu-mv .nasu-mv__cnt .ttl {
		margin-bottom: 24px;
	}

	.nasu-mv .nasu-mv__cnt .txt h2 {
		padding-bottom: 24px;
	}

	/* inf 768 */

	.nasu-inf {
		padding: 60px 0;
	}

	.nasu-inf__cnt {
		flex-direction: column;
		padding: 0;
	}

	.nasu-inf__cnt .show, .nasu-inf__cnt .announce {
		width: 100%;
	}

	/* history 768 */
	.nasu-history {
		padding: 60px 0;
	}

	.nasu-history__wrap {
		flex-direction: column-reverse;
		gap: 40px;
	}

	.nasu-history__wrap .nasu-history__cnt, .nasu-history .img {
		width: 100%;
	}

	/* mainwork 768 */
	.nasu-mainwork {
		padding: 0 0 40px 0;
	}

	.nasu-mainwork__wrap {
		flex-direction: column;
	}

	.nasu-mainwork__cnt, .nasu-mainwork__img {
		width: 100%;
	}

	.nasu-mainwork__img {
		height: 50vh;
	}

	.nasu-mainwork__cnt {
		padding: 40px 16px 0 16px;
	}

	/* banner 768 */
	.nasu-banner {
		padding: 60px 0;
	}

	.nasu-banner__items {
		flex-direction: column;
	}

	.nasu-banner__items .item {
		width: 100%;
	}

	/* footer 768 */

	.footer__boxOne .footer__menu ul {
		flex-wrap: wrap;
		row-gap: 12px;
		column-gap: 12px;
		justify-content: flex-start;
	}

	.copyright {
		text-align: center;
		line-height: 2;
	}

	/* h-nasu 768 */

	.breadcrumb {
		top: 65px;
		padding-left: 16px;
	}

	/* h-nasu mv */
	.nasuH-mv {
		padding-top: 100px;
	}

	.nasuH-open, .nasu-history, .nasuH-date{
		padding: 60px 0;
	}
}